<div class="custom1">
  <div id="footer_0"></div>
  <div id="footer_1">
    <h4 id="hotline">Ðường dây nóng: <span>0240 650 2008</span>
    </h4>
    <h4 id="page-footer">
      <a href="">Trang chủ</a> |
      <!--          <mat-icon>exit_to_app</mat-icon> -->
      <button mat-menu-item (click)="logout()">Thoát </button> |
      <a href="https://www.google.com/" target="_blank">Hỏi đáp</a> |
      <a href="https://stackoverflow.com/" target="_blank">Trợ giúp</a>
    </h4>
  </div>
<!--  <div id="footer_2"></div>-->
  <table class="custom-table">
    <tbody>
    <tr>
      <td class="custom-td1">
        <span id="page-footer-print">
          <a href="#" onclick="window.print()">
            <div class="custom-float-left"> <img src="../../assets/print.png"> </div>
            <div class="custom-padding-top">In trang này</div>
          </a>

          <a href="">
            <div class="custom-float-left"><img src="../../../assets/sendemail.png"></div>
            <div class="custom-padding-top">Gửi email trang này</div>
          </a>

          <a href="#">
            <div class="custom-float-left"><img src="../../../assets/addtofavorites.png"></div>
            <div class="custom-padding-top">Thêm vào ưa thích</div>
          </a>
        </span>
      </td>

      <td class="custom-margin-p" align="right" width="410">
        <p>Số người đang Online: <span>3383</span></p>
        <p>Lượt truy cập: <span>2221203</span> </p>
      </td>
    </tr>
    </tbody>
  </table>
</div>
