<!--<div class="submit-form">-->
<!--  <div *ngIf="!submitted">-->
<!--    <form class="example-form" [formGroup]="newSelectClazzForm">-->
<!--      <mat-form-field class="example-full-width">-->
<!--        <mat-label>Chọn lớp:</mat-label>-->
<!--        <mat-select name="clazzId" formControlName="clazzId" [errorStateMatcher]="matcher">-->
<!--          <mat-option>-->
<!--            <ngx-mat-select-search [formControl]="classFilterCtrl"></ngx-mat-select-search>-->
<!--          </mat-option>-->
<!--          <mat-option *ngFor="let clazz of filteredClass | async" [value]="clazz.id">-->
<!--            {{clazz.name}}-->
<!--          </mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
<!--    </form>-->
<!--  </div>-->
<!--&lt;!&ndash;  <div *ngIf="submitted">&ndash;&gt;-->
<!--&lt;!&ndash;    <h4>Student was submitted successfully!</h4>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
<!--</div>-->

<!--&lt;!&ndash;<button mat-raised-button color="primary"  (click)="selectClazz()" [disabled]="submitted">Lưu1</button>&ndash;&gt;-->
<!--<button mat-raised-button color="primary" (click)="selectClazz()" [disabled]="submitted" style="display: flex; justify-content: center; align-items: center; margin: 0 auto;">Xác nhận</button>-->

<!--&lt;!&ndash;<button mat-raised-button (click)="closeDialog()">Đóng</button>&ndash;&gt;-->
