<div>
  <!--Begin Danh sach cac muc co the duoc hien thi o center-->
  <div id="panel-center">
    <table id="my-list">
      <tbody>
      <tr>
        <td>
          <div class="box_center">
            <h4>
              <span>THÔNG BÁO</span>
            </h4>
            <div class="content">
              <div class="important_news">
                <div>
                  <div>
                    <p>[THÔNG TIN ĐÁNG CHÚ Ý]</p>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo gia hạn thời gian đăng ký tiếng Anh B1 cho K62 học kỳ hè năm học 2022 - 2023
                      (17/05/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo Lịch thu HỌC PHÍ - Học kỳ II - Năm học 2022-2023 sinh viên
                      khóa 63 (đợt học 11) (19/05/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo lịch đăng ký học kỳ hè năm học 2022 - 2023 (09/05/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo về việc tổ chức học kỳ hè năm học 2022-2023 (24/04/2023)
                    </a>
                  </div>


                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo về việc tổ chức lớp học phần ngoại ngữ tăng cường K63 (đợt
                      học 11) học kì 2 năm học 2022-2023 (17/04/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo Lịch thu LỆ PHÍ THI ĐÁNH GIÁ TRÌNH ĐỘ NGOẠI NGỮ - Học kỳ II.
                      Năm học 2022-2023 sinh viên các khóa 62 trở về trước (đợt học 9) (11/04/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo hủy lớp học phần Thực tập trắc địa-3-2-22(N06) lớp riêng mở ở
                      đợt học 3 học kỳ 2 năm học 2022 - 2023 (03/04/2023)
                    </a>
                  </div>

                  <div class="custom-margin">
                    <img src="../../assets/viewpost.gif" alt="icon">
                    <a href="">
                      Thông báo Lịch thu HỌC PHÍ - Học kỳ II - Năm học 2022-2023 sinh viên
                      khóa 63 (21/04/2023)
                    </a>
                  </div>
                </div>
              </div>
              <br>

              <div class="new_news">
                <div class="custom-bold">
                  <a href="">Thông báo lịch họp CVHT các lớp khóa 62 trở về trước (03/02/2023)</a>
                </div>
                <br>

                <div class="custom-margin">
                  <img src="../../assets/viewpost.gif" alt="icon">
                  <a href="">
                    Thông báo Lịch thu HỌC PHÍ - Học kỳ II - Năm học 2022-2023 sinh viên
                    khóa 63 (21/04/2023)
                  </a>
                </div>

                <div class="custom-margin">
                  <img src="../../assets/viewpost.gif" alt="icon">
                  <a href="">
                    Thông báo về việc tổ chức học kỳ hè năm học 2022-2023 (24/04/2023)
                  </a>
                </div>


                <div class="custom-margin">
                  <img src="../../assets/viewpost.gif" alt="icon">
                  <a href="">
                    Thông báo về việc tổ chức lớp học phần ngoại ngữ tăng cường K63 (đợt
                    học 11) học kì 2 năm học 2022-2023 (17/04/2023)
                  </a>
                </div>

                <div class="custom-margin">
                  <img src="../../assets/viewpost.gif" alt="icon">
                  <a href="">
                    Thông báo Lịch thu LỆ PHÍ THI ĐÁNH GIÁ TRÌNH ĐỘ NGOẠI NGỮ - Học kỳ II.
                    Năm học 2022-2023 sinh viên các khóa 62 trở về trước (đợt học 9) (11/04/2023)
                  </a>
                </div>

                <div class="custom-margin">
                  <img src="../../assets/viewpost.gif" alt="icon">
                  <a href="">
                    Thông báo hủy lớp học phần Thực tập trắc địa-3-2-22(N06) lớp riêng mở ở
                    đợt học 3 học kỳ 2 năm học 2022 - 2023 (03/04/2023)
                  </a>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table> <!--End Thong tin ve He dao tao-->
  </div>
  <!--End Danh sach cac muc co the duoc hien thi o center--></div>
